<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DataConnectionString" value="UseDevelopmentStorage=true" />
    <add key="Neo4j.ConnectionString" value="http://localhost:7474/db/data/" />
    <add key="Neo4j.ConnectionString.Authentication" value="neo4j:graphdb" />
    <add key="AutoCompleteCacheId" value="atz" />
  </appSettings>
</configuration>